extends layout

block content
  .container.form-margin
    h2.top-margin Edit Book Details
    form(method='post', action=`/book/update/${book.id}`)
      .form-group.row.form-space
        label.col-sm-2.col-form-label(for='title') Title 
        .col-lg-8-.col-sm-10
          input.form-control(type='text', name='title', placeholder='Title', value=`${book.title}`)
      .form-group.row.form-space
        label.col-sm-2.col-form-label(for='description') Description
        .col-lg-8-.col-sm-10
          textarea.form-control(name='description', value=`${book.description}`)=book.description
      .form-group.row.form-space
        label.col-sm-2.col-form-label(for='img_url') Image URL
        .col-lg-8-.col-sm-10
          input.form-control(type='text', name='img_url', placeholder='Image URL', value=`${book.img_url}`)
      .form-group.row
        .offset-sm-2.col-sm-10
          button.btn(type='submit') Update