body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

h1 {
  font-family: 'Monoton', cursive;
}

h2,h3,h4,h5 {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.header {
  background-color: #8dd8c0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  width: 100%;
  height: 100%;
}

.book-img {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.edit-delete {
  width: 100px;
  height: 30px;
  margin-top: 15px;
  margin-right: 8px;
  vertical-align: middle
  
}

.book-detail {
  margin-top: 50px;
  margin-left: 100px;
  padding-top:100px;
  margin-right: 50px;
}

.logocontainer {
  max-width: 75px;
  max-height: 75px;
}

.logotype {
  max-width: 100%;
}

.btn {
  border-radius: 0;
  background-color:#54b1c5;
  color: #fff;
  font: 14px "Quattrocento Sans", Helvetica, Arial, sans-serif;
}

.btn:hover {
  background-color: #67bacb;
  color: #fff;
}

.form {
  font-size: .8em;
  border-radius: 0;
  border:0 solid transparent;
  background-position:right 50%;
  background-repeat:no-repeat;
  padding: 6px;
  font: 14px "Quattrocento Sans", Helvetica, Arial, sans-serif;
}

.logocontainer {
  max-width: 75px;
  max-height: 75px;
}

.logotype {
  max-width: 100%;
}

.subhead {
  font-size: 1em;
  margin-top: 0;
  font-color: #fff;
  text-decoration: none;
}

.spacegiver {
  margin: 5px;
}

.btn {
  border-radius: 0;
  background-color:#54b1c5;
  color: #fff;
  font: 14px "Quattrocento Sans", Helvetica, Arial, sans-serif;
}

.btn:hover {
  background-color: #67bacb;
  color: #fff;
}

.search-space {
  margin-top:25px;
  margin-bottom:auto;
}

.form {
  font-size: .8em;
  border-radius: 0;
  border:0 solid transparent;
  background-position:right 50%;
  background-repeat:no-repeat;
  padding: 6px;
  font: 14px "Quattrocento Sans", Helvetica, Arial, sans-serif;
}

.book-title {
  font-size: 60px 
}
.details {
  padding-bottom: 5px;
  margin-top: 5px;
}

.description {
  line-height: 1.5em;
}

.title {
  margin-top: 0px;
}

.form-margin {
  max-width: 600px;
  margin-top: 100px;
}

.top-margin {
  margin-top: 60px;
}

